<mat-nav-list>
  <mat-list-item (click)="onCustomers()">
    <div class="d-flex justify-content-between">
      <div class="d-flex gap-2">
        <mat-icon matListIcon>people</mat-icon>
        <span matLine>Customers</span>
      </div>
      <mat-icon matListIcon>chevron_right</mat-icon>
    </div>
  </mat-list-item>

  <mat-list-item (click)="onSettings()">
    <div class="d-flex justify-content-between">
      <div class="d-flex gap-2">
        <mat-icon matListIcon>settings</mat-icon>
        <span matLine>Settings</span>
      </div>
      <mat-icon matListIcon>chevron_right</mat-icon>
    </div>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item (click)="logout()" [disabled]="isLoggingOut">
    <div class="d-flex gap-2">
      @if (!isLoggingOut) {
        <mat-icon matListIcon color="warn">logout</mat-icon>
      }
      @if (isLoggingOut) {
        <mat-progress-spinner
          diameter="24"
          mode="indeterminate"
        ></mat-progress-spinner>
      }
      <span matLine class="text-warn">Logout</span>
    </div>
  </mat-list-item>
</mat-nav-list>
